flows.json
[
    {
        "id": "8e4799d2.b62c48",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "762fdff3.308fe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "e0186c5d.587e7",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "97441b57.348238",
        "type": "ui_base",
        "z": 0,
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4c85dcad.5a90c4",
        "type": "ui_tab",
        "z": 0,
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "969a7e7d.6c27",
        "type": "ui_tab",
        "z": 0,
        "name": "node red MDCVW",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d2d19da7.f286a",
        "type": "ui_tab",
        "z": 0,
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "247d57c8.23ef78",
        "type": "ui_group",
        "z": "",
        "name": "output",
        "tab": "969a7e7d.6c27",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "67e3da09.b4ca94",
        "type": "ui_group",
        "z": "",
        "name": "chatbot",
        "tab": "969a7e7d.6c27",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fff70409.58bd08",
        "type": "ui_group",
        "z": "",
        "d": true,
        "name": "chatbot",
        "tab": "969a7e7d.6c27",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "771ceef2.4c02b",
        "type": "ui_group",
        "z": 0,
        "name": "Default",
        "tab": "d2d19da7.f286a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58aad1ea.4b696",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fff70409.58bd08",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "ea317f9f.0794b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "247d57c8.23ef78",
        "order": 1,
        "width": "6",
        "height": "6"
    },
    {
        "id": "5a03eaaa.673914",
        "type": "watson-discovery-v1",
        "z": "8e4799d2.b62c48",
        "name": "",
        "environmentname": "",
        "environmentId": "system",
        "collectionId": "news-en",
        "configurationname": "",
        "configurationId": "",
        "language_code": "en",
        "collection_name": "",
        "count": "1",
        "passages": true,
        "nlp_query": true,
        "query": "",
        "filter": "",
        "aggregation": "",
        "return": "",
        "description": "",
        "size": "LT",
        "discovery-method": "query",
        "service-endpoint": "https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/c4d1bcd4-a918-4a86-8c5a-6736117996c2",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "6acc32fe.3d300c",
                "c90d7107.efaab"
            ]
        ]
    },
    {
        "id": "2ac0484f.a406a8",
        "type": "function",
        "z": "8e4799d2.b62c48",
        "name": "",
        "func": "msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "5a03eaaa.673914"
            ]
        ]
    },
    {
        "id": "6acc32fe.3d300c",
        "type": "function",
        "z": "8e4799d2.b62c48",
        "name": "",
        "func": "msg.payload=msg.search_results.results[0].text\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 280,
        "wires": [
            [
                "309aaa35.f52016",
                "12df2af4.4dcdc5"
            ]
        ]
    },
    {
        "id": "309aaa35.f52016",
        "type": "debug",
        "z": "8e4799d2.b62c48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "c90d7107.efaab",
        "type": "debug",
        "z": "8e4799d2.b62c48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "c03810cc.2a2a8",
        "type": "function",
        "z": "762fdff3.308fe",
        "name": "",
        "func": "msg.payload=msg.payload.input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 357,
        "y": 370.20001220703125,
        "wires": [
            [
                "ba4d5cb5.81e77"
            ]
        ],
        "l": false
    },
    {
        "id": "a1d81166.c1528",
        "type": "function",
        "z": "762fdff3.308fe",
        "name": "bot",
        "func": "msg.payload=msg.payload.output.text[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 543,
        "y": 369.20001220703125,
        "wires": [
            [
                "a65d2215.b343",
                "712f4a22.2dc754"
            ]
        ],
        "l": false
    },
    {
        "id": "712f4a22.2dc754",
        "type": "debug",
        "z": "762fdff3.308fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 672.600058555603,
        "y": 439.20001888275146,
        "wires": [],
        "l": false
    },
    {
        "id": "ea767c75.18282",
        "type": "inject",
        "z": "762fdff3.308fe",
        "name": "",
        "topic": "hi",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 199.60000610351562,
        "y": 256.4000015258789,
        "wires": [
            [
                "c03810cc.2a2a8"
            ]
        ],
        "l": false
    },
    {
        "id": "ba4d5cb5.81e77",
        "type": "watson-conversation-v1",
        "z": "762fdff3.308fe",
        "name": "chatbot",
        "workspaceid": "da541be7-4f08-4ad3-93c7-2597ae44461e",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/498399c1-6148-49bc-9fdc-d6feec9a4f7b",
        "timeout": "",
        "optout-learning": false,
        "x": 440,
        "y": 262,
        "wires": [
            [
                "a1d81166.c1528"
            ]
        ]
    },
    {
        "id": "57a4c759.7c7688",
        "type": "ui_form",
        "z": "8e4799d2.b62c48",
        "name": "",
        "label": "",
        "group": "fff70409.58bd08",
        "order": 2,
        "width": "20",
        "height": "15",
        "options": [
            {
                "label": "Enter the query",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "2ac0484f.a406a8"
            ]
        ]
    },
    {
        "id": "ea7fb0e2.63169",
        "type": "ui_form",
        "z": "762fdff3.308fe",
        "name": "",
        "label": "",
        "group": "771ceef2.4c02b",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "enter text here",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 196,
        "y": 383.20001220703125,
        "wires": [
            [
                "c03810cc.2a2a8"
            ]
        ],
        "l": false
    },
    {
        "id": "12df2af4.4dcdc5",
        "type": "ui_text",
        "z": "8e4799d2.b62c48",
        "group": "fff70409.58bd08",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "results",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "468e148d.c9222c",
        "type": "ui_text",
        "z": "762fdff3.308fe",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": -13,
        "y": 397,
        "wires": [],
        "l": false
    },
    {
        "id": "a65d2215.b343",
        "type": "ui_text",
        "z": "762fdff3.308fe",
        "group": "771ceef2.4c02b",
        "order": 3,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 676,
        "y": 362.20001220703125,
        "wires": [],
        "l": false
    },
    {
        "id": "92404bcc.64f968",
        "type": "ui_form",
        "z": "e0186c5d.587e7",
        "name": "",
        "label": "",
        "group": "67e3da09.b4ca94",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "enter the querry",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "6f3cfef1.5c1ff"
            ]
        ]
    },
    {
        "id": "6f3cfef1.5c1ff",
        "type": "function",
        "z": "e0186c5d.587e7",
        "name": "input parsing",
        "func": "msg.payload=msg.payload.input;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "74bc4e05.9dc6f",
                "9ff62dc9.ecb23"
            ]
        ]
    },
    {
        "id": "5e7fc146.a795f",
        "type": "function",
        "z": "e0186c5d.587e7",
        "name": "parsing",
        "func": "msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "22bd6050.ce93c"
            ]
        ]
    },
    {
        "id": "74bc4e05.9dc6f",
        "type": "ui_text",
        "z": "e0186c5d.587e7",
        "group": "67e3da09.b4ca94",
        "order": 2,
        "width": "5",
        "height": "3",
        "name": "",
        "label": "you",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 360,
        "y": 300,
        "wires": []
    },
    {
        "id": "22bd6050.ce93c",
        "type": "ui_text",
        "z": "e0186c5d.587e7",
        "group": "247d57c8.23ef78",
        "order": 2,
        "width": "6",
        "height": "8",
        "name": "",
        "label": "bot",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "9325401c.a4069",
        "type": "debug",
        "z": "e0186c5d.587e7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "9ff62dc9.ecb23",
        "type": "watson-conversation-v1",
        "z": "e0186c5d.587e7",
        "name": "assistant",
        "workspaceid": "3c4b282c-d02c-4e1c-89ce-4f7af205ada9",
        "multiuser": false,
        "context": false,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/104de6e0-01d0-4305-a682-d84cf4cb87fa",
        "timeout": "",
        "optout-learning": false,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "9325401c.a4069",
                "5e7fc146.a795f"
            ]
        ]
    }
]